<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
      <div class="container-fluid">



              <div class="cards" style="width: 10rem;">
                <img src="assets/img/img.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <div class="badge badge-primary text-wrap" style="width: 8rem;">
                    Dummy Text
                  </div>
                  <p class="card-text">Company</p>
                  <a href="#" class="btn btn-primary">View Orders</a>
                </div>
              </div>

              <div class="cards" style="width: 10rem;">
                <img src="assets/img/img.png" class="figure-img img-fluid rounded" alt="...">
                <div class="card-body">
                  <div class="badge badge-primary text-wrap" style="width: 8rem;">
                    Dummy Text
                  </div>
                  <p class="card-text">Company</p>
                  <a href="#" class="btn btn-primary">View Orders</a>
                </div>
              </div>

              <div class="cards" style="width: 10rem;">
                <img src="assets/img/img.png" class="figure-img img-fluid rounded" alt="...">
                <div class="card-body">
                  <div class="badge badge-primary text-wrap" style="width: 8rem;">
                    Dummy Text
                  </div>
                  <p class="card-text">Company</p>
                  <a href="#" class="btn btn-primary">View Orders</a>
                </div>
              </div>

              <div class="cards" style="width: 10rem;">
                <img src="assets/img/img.png" class="figure-img img-fluid rounded" alt="...">
                <div class="card-body">
                  <div class="badge badge-primary text-wrap" style="width: 8rem;">
                    Dummy Text
                  </div>
                  <p class="card-text">Company</p>
                  <a href="#" class="btn btn-primary">View Orders</a>
                </div>
              </div>

              <div class="cards" style="width: 10rem;">
                <img src="assets/img/img.png" class="figure-img img-fluid rounded" alt="...">
                <div class="card-body">
                  <div class="badge badge-primary text-wrap" style="width: 8rem;">
                    Dummy Text
                  </div>
                  <p class="card-text">Company</p>
                  <a href="#" class="btn btn-primary">View Orders</a>
                </div>
              </div>
              <br>
              <br>
              <br>





      </div>
    </body>
</html>
